<html lang="en">
<head>
  {{> component/head}}
  <title>SSCHM - Add a new car</title>

</head>

<body>

<div class="container">
  <h1>{{car.name}}</h1>

  <div>
    {{#car.photoId}}
      <img src="/photo/{{car.photoId}}" alt="car image">
    {{/car.photoId}}
    {{#events}}
      <p>
        {{id}}
      </p>
    {{/events}}
  </div>


</div>

</body>

</html>
